.classic-game.is-started #inverse-product-card .cover { transform: translateY(0); }
.classic-game #inverse-product-card.is-revealed .cover { transform: translateY(-102%); }
#inverse-product-card.is-resetting .cover { transition: none; }
